body {
    background: url('img/pic1.jpg') no-repeat;
    background-size: cover;
    padding: 0 100px;
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
}

.controls {
    text-align: right;
}

.input {
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    font-size: 30px;
    margin-bottom: 5px;
    transition: all .5s;
}

.input:focus,
.letsgo:hover {
    -webkit-box-shadow: -9px 8px 8px 0px rgba(10, 26, 37, 0.42);
    -moz-box-shadow: -9px 8px 8px 0px rgba(10, 26, 37, 0.42);
    box-shadow: -9px 8px 8px 0px rgba(10, 26, 37, 0.42);
}

.letsgo {
    display: inline;
    padding: 5px;
    border-radius: 8px;
    background-color: #621e21;
    border: 2px solid black;
    color: white;
    font-size: 20px;
    transition: all .5s;
    cursor: pointer;
}

.letsgo:hover {
    background-color: #000;
}


.weatherData {
    padding: 20px;
    max-width: 300px;
    visibility: hidden;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 4px;
    font-size: 20px;
}

.seeable {
   visibility: visible;
}

.searchButtons {
    display: inline;
}

/*  ------------table------------------*/
table,
th,
td {
    background-color: #fff;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

table {
    display: none;
    margin: 0 auto;
    font-size: 20px;
}

.table-visible {
    display: table;
}

/*---------------spinner------------------*/

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-top: 5px solid #000;
    border-radius: 100%;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.visible {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}